<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.wedream.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
      android:name=".app.MyApplication"
      android:allowBackup="true"
      android:icon="@drawable/logo"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".render.MatrixDemoActivity" />
        <activity android:name=".render.DrawTextDemoActivity" />
        <activity android:name=".planegeometry.PlaneGeometryActivity" />
        <activity android:name=".algo.activity.SortActivity" />
        <activity android:name="com.wedream.demo.concurrent.kotlin.CoroutineActivity" />
        <activity android:name="com.wedream.demo.concurrent.kotlin.FlowActivity" />
        <activity android:name=".render.DrawPathActivity" />
        <activity android:name=".render.WaveViewActivity" />
        <activity android:name="com.wedream.demo.concurrent.kotlin.FunctionProgrammingActivity" />
        <activity android:name=".algo.activity.LinkedListActivity" />
        <activity android:name=".concurrent.rxjava.RxJavaDemoActivity" />
        <activity android:name=".concurrent.JavaExecutorActivity" />
        <activity android:name=".jni.HelloJNIActivity" />
        <activity android:name=".jni.GL2JNIActivity" />
        <activity android:name=".render.FontDemoActivity" />
        <activity android:name=".render.gl3.GLColorActivity" />
        <activity android:name=".view.newtips.NewTipsActivity" />
        <activity android:name=".view.TabLayoutActivity" />
        <activity android:name=".view.ViewPagerActivity" />
        <activity
          android:name=".view.multitrack.TrackActivity"
          android:screenOrientation="landscape" />
        <activity android:name=".view.HorizontalScrollActivity" />
        <activity android:name=".app.CategoryActivity" />
        <activity android:name=".investment.BTCPredictActivity" />
        <activity android:name=".render.RecyclerViewActivity" />
        <activity android:name=".view.ViewLevelActivity" />
        <activity android:name=".view.ScaleViewActivity" />
        <activity android:name=".view.ScaleActivity" />
        <activity android:name=".algo.activity.LinearAlgorithmActivity" />
        <activity android:name=".view.trackmove.CrossTrackMovementActivity" />
        <activity android:name=".algo.activity.AlgorithmDetailActivity" />
        <activity android:name=".algo.activity.TreeAlgorithmActivity" />
        <activity android:name=".view.newtrack.NewMultiTrackActivity" />
        <activity android:name=".touch.InterceptEventActivity" />
        <activity android:name=".view.LottieActivity" />
        <activity android:name=".view.colormatrix.ColorMatrixCategoryActivity" />
        <activity android:name=".view.colormatrix.ColorMatrixActivity" />
        <activity android:name=".view.colormatrix.ColorHueActivity" />
        <activity android:name=".view.colormatrix.ColorFilterActivity" />
        <activity android:name=".videoeditor.VideoEditorActivity" />
        <activity android:name=".view.canvas.DrawViewActivity" />
        <activity android:name=".view.TranslateActivity" />
        <activity android:name=".lifecycle.BadWindowTokenActivity" />
        <activity android:name=".media.AudioRecordActivity" />
        <activity android:name=".inject.AnnotationTestActivity" />
        <activity android:name=".view.RefreshRateActivity" />
        <activity android:name=".view.OutlineActivity" />
        <activity android:name=".view.CanvasBitmapActivity" />
        <activity android:name=".render.WaveView2Activity" />
        <activity android:name=".render.CanvasLayerActivity" />
        <activity android:name=".algo.activity.MatrixAlgorithmActivity" />
        <activity android:name=".inject.FiledInjectActivity" />
        <activity android:name=".touch.EventDispatchActivity" />
        <activity android:name=".app.monitor.CrashHandlerActivity" />
        <activity android:name=".app.monitor.ANRHandleActivity" />
    </application>
</manifest>